html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#tituloPagina {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 67px;
}

@media screen and (max-width: 527px) {
  #tituloPagina {
    font-size: 30px;
  }
}

#texto1, #texto2 {
  opacity: 0;
}